{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SCAM | Calendars</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--link rel="shortcut icon" href="#" /-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        
        <!-- Extra styles for special components -->
        <style>
            .navbar-brand {
                font-size: 1.7em;
                font-weight: bold;
                letter-spacing: -1px;
            }
            body {
                padding-top: 70px;
            }
            .footer {
                border-top: 1px solid #eee;
                margin-top: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        .list-group {
            height: 450px;
            overflow: auto;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <!-- For Mobile navigation -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation bar</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'Calendar:home' %}">SCAM</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Welcome, {{ username }}!</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'Calendar:signout' %}">Sign out</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </header>
            <div class="row">
                {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="text-center">Calendars</h2>
                            <div class="well">
                                <ul class="nav nav-pills nav-stacked">
                                {% for calendar in calendars %}
                                    <li><a data-toggle="modal" data-target="#calModal">{{ calendar }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-center">Events</h2>
                            <div class="list-group">
                            {% for event in events %}
                                <a class="list-group-item" data-toggle="modal" data-target="#eventModal">
                                    <div class="row">
                                        <div class="col-md-4 text-left">
                                            {{ event.name }}
                                        </div>
                                        <div class="col-md-4 text-center">
                                            {{ event.date }}
                                        </div>
                                        <div class="col-md-4 text-right">
                                            {{ event.time }}
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                        <!--div class="col-md-3">
                            <h2 class="text-center">Other Things</h2>
                            <div class="well">
                                hello
                            </div>
                        </div-->
                    </div>
                </div>
            </div>
        </div><!-- Main container -->
        
        <!-- Modal -->
        <div class="modal fade" id="eventModal" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="eventModalLabel">Edit Event</h4>
                    </div>
                    
                    <form method="post" action="{% url 'Calendar:edit_event' %}" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="date" class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="date" placeholder="Date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="time" class="col-sm-2 control-label">Time</label>
                                <div class="col-sm-10">
                                    <input type="time" class="form-control" id="time" placeholder="Time">
                                </div>
                            </div>
                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="calModal" role="dialog" aria-labelledby="calModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="calModalLabel">Edit Calendar</h4>
                    </div>
                    
                    <form method="post" action="{% url 'Calendar:edit_event' %}" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="user" class="col-sm-2 control-label">Add User</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="user" placeholder="Add User">
                                        </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        <!-- Include neccessary scripts -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>